body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: cadetblue;
}

form {
  text-align: center;
  width: 100%;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
  margin-bottom: 15px;
  color: rgb(226, 224, 120);
}

input {
  margin-right: 0;
  padding: 10px;
  border: none;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  padding: 10px;
  margin-left: 0;
  background: darkcyan;
  color: #555;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
button:hover {
  background: #bbb;
  color: #fff;
}

.button-disabled {
  background-color: grey;
}

.button-disabled:hover {
  background-color: grey;
  color: #555;
}

button:nth-child(1) {
  float: right;
  padding: 2px;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 20px 12px 20px;
  list-style-type: none;
  background: #eee;
  font-size: 14px;
  transition: 0.2s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #b2bec3;
}

ul li:hover {
  background: #ddd;
}
