body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f2f2f2;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Container {
  background: #5e72bf;
  min-width: 1000px;
  min-height: 600px;
  padding: 20px;
  margin: 0 auto;
  height: auto;
  border-radius: 5px;
}

form {
  text-align: center;
  width: 100%;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
  margin-bottom: 15px;
  color: #5e72bf;
}

.input {
  border: none;
  width: 100%;
}

.add-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  color: #000;
  font-weight: bolder;
  margin: 5px;
}

.todo-row {
  margin: 5px;
  background: rgb(226, 226, 226);
  display: flex;
  padding: 10px;
  cursor: pointer;
  justify-content: space-between;
}

.row-complete {
  background: darkcyan;
}
